<nav>
  <h2>Patriot Pop</h2>
  <ul>
    <li id="active"><a class="nav-link" href="../manager">Manager</a></li>
    <li><a class="nav-link" href="../producer">Producer</a></li>
    <li><a class="nav-link" href="../dj">DJ</a></li>
  </ul>
</nav>