<nav>
  <h2>Patriot Pop</h2>
  <ul>
    <li id="active"><a class="nav-link" href="../manager/manager.html">Manager</a></li>
    <li><a class="nav-link" href="../producer/producer.html">Producer</a></li>
    <li><a class="nav-link" href="../dj/dj.html">DJ</a></li>
  </ul>
</nav>