<div id="time-table">
      <table>
        <tr>
          <th id="current-day">Today</th>
          <th id="next-day">Feb 11</th>
          <th id="next-next-day">Feb 12</th>
        </tr>
        <tr class="table-cell">
          <td id="table-focus">
            <div class="time-zone">
              <div>
                <h3>12am</h3>
              </div>
              <div id="slot-1-1">
                <!-- <article id="card-1-1" class="dj-card">
                  <div class="dj-card-song-list scroll-style">
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                  </div>
                  <div class="dj-info">
                    <h4>DJ Gary</h4>
                    <button onclick="remove()" id="remove-dj-btn">Remove</button>
                    <script>
                      function remove() {
                        const djCard = document.getElementById("card-1-1");
                        if (confirm("Remove DJ?")) {
                          djCard.remove();
                        }
                      }
                    </script>
                    <img src="../images/profile.png" alt="">
                  </div>
                </article> -->
              </div>
              <div>
                <h3>8am</h3>
              </div>
              <div id="slot-1-2">

              </div>
              <div>
                <h3>4pm</h3>
              </div>
              <div id="slot-1-3">
                <!-- dj card -->
              </div>
              <div>
                <h3>12am</h3>
              </div>
            </div>
          </td>
          <td id="table-secondary" class="table-secondary">
            <div class="time-zone">
              <div>
                <h3>12am</h3>
              </div>
              <div id="slot-2-1">
                <!-- <article class="dj-card">
                  <div class="dj-card-song-list scroll-style">
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free sdfasdfasdfasdfas a asdf asdf asdf </p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                  </div>
                  <div class="dj-info">
                    <h4>DJ Gary</h4>
                    <img src="../images/profile.png" alt="">
                  </div>
                </article> -->
              </div>
              <div>
                <h3>8am</h3>
              </div>
              <div id="slot-2-2">
                <!-- dj card -->
                <!-- <article class="dj-card">
                  <div class="dj-card-song-list scroll-style">
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free sdfasdfasdfasdfas a asdf asdf asdf </p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                  </div>
                  <div class="dj-info">
                    <h4>DJ Gary</h4>
                    <img src="../images/profile.png" alt="">
                  </div>
                </article> -->
              </div>
              <div>
                <h3>4pm</h3>
              </div>
              <div id="slot-2-3">
                <!-- <article class="dj-card">
                  <div class="dj-card-song-list scroll-style">
                  </div>
                  <div class="dj-info">
                    <h4>DJ Gary</h4>
                    <img src="../images/profile.png" alt="">
                  </div>
                </article> -->
              </div>
              <div>
                <h3>12am</h3>
              </div>
            </div>
          </td>
          <td class="table-secondary">
            <div class="time-zone">
              <div>
                <h3>12am</h3>
              </div>
              <div id="slot-3-1">
                <!-- <article class="dj-card">
                  <div class="dj-card-song-list scroll-style">
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free sdfasdfasdfasdfas a asdf asdf asdf </p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                    <div class="song-alt">
                      <img src="../images/ncs.jpg" alt="">
                      <div class="song-text">
                        <p>T & Sugah x Primate - Set Me Free</p>
                      </div>
                    </div>
                  </div>
                  <div class="dj-info">
                    <h4>DJ Gary</h4>
                    <img src="../images/profile.png" alt="">
                  </div>
                </article> -->
              </div>
              <div>
                <h3>8am</h3>
              </div>
              <div id="slot-3-2">
                <!-- dj card -->
              </div>
              <div>
                <h3>4pm</h3>
              </div>
              <div id="slot-3-3">
                <!-- <article class="dj-card">
                  <div class="dj-card-song-list scroll-style">
                  </div>
                  <div class="dj-info">
                    <h4>DJ Gary</h4>
                    <img src="../images/profile.png" alt="">
                  </div>
                </article> -->
              </div>
              <div>
                <h3>12am</h3>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>