:root {
    --bg-color: #1E1E1E;
    --fg-color: #3C3C3D;
}

* {
    margin: 0px;    
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-flow: column;
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    padding: 1.5em;
    flex: 0 1 auto;
}

nav h1 {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0.5em;
    margin: 0 1em;
}

/* make sure to add this id to the right nav li*/
#active {
    font-weight: 600;
    position: relative;
}

#active::after {
    content: '';
    top: 35px;
    left: 0px;
    right: 0px;
    position: absolute;
    background-color: #3C3C3D;
    height: 6px;
    border-radius: 10px;    
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    margin: 0em 1em 1em;
    flex: 1 1 auto;
    height: 100%;
}

main > section {
    background-color: #3C3C3D;
    border-radius: 1em;
}
