#left2 {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
}


/* #header {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: 20px 10px 0;
    padding: 10px; 
    box-sizing: border-box; 
} */

#producer-not-player {
    text-align: left;
}

#producer-not-player .song-box {
    height: 18vh;
}

#dj-played .song-box {
    height: 18vh;
}

#producer-dj {
    border-bottom: none;
}

#producer-dj .song-box {
    height: 26vh;
}

#remove-dj-btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: #F4CAC3;
    font-family: Arial, Helvetica, sans-serif;
}

.report-section {
    flex: 1;
    width: 100%;
    border-bottom: 4px solid var(--bg-color);
    text-align: left;
    width: 100%;  
    overflow-y: auto; 
    margin-top: 10px; 
    padding: 10px; 
}



/*

    background-color: #f0f0f0; 
    box-sizing: border-box;
    max-height: 100px; 
} */


/* .report-section {
    flex: 1;
    width: 100%;
    border-bottom: 4px solid var(--bg-color);
    text-align: left;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-height: 500px; 
}




.report-section h3 {
    margin: 1em;
} */


#schedule-dj-modal {
    display: none;
}

#add-dj-modal {
    display: block;
}

.image-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-box {
    width: 30%;
    height: auto;
    margin: auto;
    background-color: var(--bg-color);
    border: solid 2px white;
    border-radius: 8px;
    margin-top: 15%;
    padding: 2em;
    text-align: center;
}

.modal-box h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.divide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.modal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
}

.form-select {
    background-color: var(--fg-color);
    border: none;
    font-size: 1.5em;
    padding: 0.5em;
    color: white;
    border-radius: 8px;
    grid-column: 1 / 3;
}

#modal-cancel, #modal-submit {
    background-color: var(--fg-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5em;
    font-size: 1.5em;
}

#modal-cancel a, #modal-submit a {
    color: white;
    text-decoration: none;
}

#modal-submit {
    background-color: #69C863;
}

#dj-profile {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.dj-image {
    background-color: var(--fg-color);
    border-radius: 8px;
}

.dj-name {
    align-self: center;
    font-size: 1.4em;
}

#add-dj-modal {
    display: none;
}

.modal-box-form {
    width: 40%;
    height: auto;
    margin: auto;
    background-color: var(--bg-color);
    border: solid 2px white;
    border-radius: 8px;
    margin-top: 15%;
    padding: 2em;
    text-align: center;
}

.info {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.info li {
    text-align: start;
}

#code dl {
    text-align: start;
}

#code dd {
    display: inline;
}

#code dt {
    display: inline;
}

#code dt+dd {
    color: rgb(208, 208, 66);
}

#add-dj-modal-form {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}

#dj-fname {
    grid-column: 2 / 4;
}

#dj-lname {
    grid-column: 5 / 7;
}

#dj-email {
    grid-column: 2 / 4;
}

#dj-number {
    grid-column: 5 / 7;
}

#add-dj-btn-cancel {
    grid-column: 3 / 4;
}

#add-dj-modal-form button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: var(--fg-color);
}

#add-dj-btn-submit {
    background-color: #69C863 !important;
}





.search-container {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 20px); 
}


.search-results-container {
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 100%; 
    box-sizing: border-box; 
    overflow-y: auto; 
    height: 50%;
    padding: 20px;

    width: calc(100% - 40px); 
    margin: 0 20px; 
}


.choose-btn {
    background-color: #69C863;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
}

.search-container input[type="text"]::placeholder {
    color: white;
    text-align: center;
}














.search-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: var(--bg-color);
    gap: 10px;
  }
  
  .assignment-label, .dropdown-container, .add-button-container {
    flex: 1; 
  }
  
  .dropdown-container select {
    width: 100%; 
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Style the input field */
  .assignment-label input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 10px); 
  }
  
  .add-button-container button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #69C863; 
    color: white;
    cursor: pointer;
  }




  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0 20px; 
    padding: 20px; 
    box-sizing: border-box;
    background-color: #3C3C3D;
    border-radius: 10px; 
}



.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3C3C3D;
    padding: 20px; 
    border-radius: 10px; 
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
}

.form-section label {
    flex-basis: 30%; 
}

.form-section select, .form-section input[type="text"] {
    flex-grow: 1; 
}

.form-submit {
    display: flex;
    justify-content: center;
    padding-top: 10px; 
}

input[type="submit"], button {
    padding: 10px 20px;
    border: none;
    background-color: #69C863;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/*break*/

.form-container {
    background-color: #3C3C3D;
    padding: 20px; 
    border-radius: 10px; 
    display: flex;
    align-items: center;
}

.form-row {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center; 
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px; 
}

.form-group label {
    margin-bottom: 5px; 
}

.form-group select, .form-group input[type="text"] {
    padding: 10px; 
    
    background-color: var(--bg-color);
    color: white;    
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.form-submit {
    flex-grow: 0; 
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #69C863;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
