<main>
  <section id="left">
    <header>
      <h2 id="report-title" style="font-size: 2em">Today's Report</h2>
    </header>
    <div id="producer-not-player" class="report-section">
      <h3 class="section-title">Producer Songs Not Played</h3>
      <div id="pnp-song-box" class="song-box scroll-style">
      </div>
    </div>

    <div id="dj-played" class="report-section">
      <h3 class="section-title">Producer Assigned and DJ Played</h3>
      <div id="dps-song-box" class="song-box scroll-style">
      </div>
    </div>

    <div id="producer-dj" class="report-section">
      <h3 class="section-title">Songs Played By DJ But Not Assigned By Producer</h3>
      <div id="notdj-song-box" class="song-box scroll-style">
      </div>
    </div>
  </section>
  <section id="right">
    <div class="top-menu">
      <div class="date-menu">
        <i id="prev-day-btn" class="fa-solid fa-caret-left" style="padding-left: 0.5em"></i>
        <h2 id="date-range">Feb 10 - Feb 12</h2>
        <i id="next-day-btn" class="fa-solid fa-caret-right" style="padding-right: 0.5em"></i>
      </div>
      <div id="go-to-today">
        <!-- <button type="button" id="today" class="add-btn">Today</button> -->
        <a href="/manager" id="today" class="add-btn">Today</a>
      </div>
      <div class="add-btn-div">
        <button type="button" id="schedule-dj-btn" class="add-btn">Schedule DJ</button>
      </div>
    </div>
    <%- timetable %>
  </section>
</main>
<div id="schedule-dj-modal" class="modal">
  <div class="modal-box">
    <h2>Schedule DJ</h2>
    <div class="divide">
      <form id="modal-form" class="modal-form" method="POST" action="/manager/adddj">
        <select name="djs" id="dj-select" class="form-select">
          <% for (let i = 0; i < djs.length; i++) {%>
            <option value="<%= djs[i].name.toLowerCase() %>"><%= djs[i].name %></option>
          <% } %>
        </select>
        <select name="djColor" id="dj-color" class="form-select">
          <option value="red">Red</option>
          <option value="orange">Orange</option>
          <option value="yellow">Yellow</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
          <option value="purple">Purple</option>
        </select>
        <select name="djDate" id="dj-date" class="form-select">
        </select>
        <select name="djTimeslot" id="dj-timeslot" class="form-select">
          <option value="slot1">12AM - 8AM</option>
          <option value="slot2">8AM - 4PM</option>
          <option value="slot3">4PM - 12AM</option>
        </select>
        <button type="button" id="modal-cancel">Cancel</button>
        <button id="modal-submit">Submit</button>
      </form>
      <aside id="dj-profile">
        <div class="dj-image">
        </div>
        <div class="dj-name">
          <h3>DJ Gary</h3>
        </div>
      </aside>
    </div>
  </div>
</div>
<div id="add-dj-modal" class="modal">
  <div class="modal-box-form">
    <h2>Add DJ</h2>
    <div class="info">
      <div>
        <h3>Patriot Policy</h3>
        <ol>
          <li>The DJ must be on time</li>
          <li>The DJ must be respectful</li>
          <li>The DJ must be funny</li>
          <li>The DJ must follow Patriot Pop Code of Conduct</li>
        </ol>
      </div>
      <div id="code">
        <h3>Definitions</h3>
        <dl>
          <dt><b>On time:</b></dt>
          <dd>Must be ready 5 minutes before timeslot</dd> <br>
          <dt><b>Funny:</b></dt>
          <dd>Can make college students laugh</dd> <br>
          <dt><b>Code of Conduct:</b></dt>
          <dd>Do not mention controversial current events</dd>
        </dl>
      </div>
    </div>
    <div id="dj-form-error">
      <h3>First and Last Names Must Be Less Than 20 Characters</h3>
    </div>
    <form id="add-dj-modal-form" method="get">
      <h3 id="dj-info-form">Dj Info</h3>
      <label for="dj-fname" id="dj-fname-label">First Name</label>
      <input type="text" name="dj-fname" id="dj-fname" required placeholder="John">
      <label for="dj-lname">Last Name</label>
      <input type="text" name="dj-lname" id="dj-lname" required placeholder="Smith">
      <label for="dj-email">Email</label>
      <input type="email" name="dj-email" id="dj-email" required placeholder="john.smith@gmail.com">
      <label for="dj-number">Phone number (dashes)</label>
      <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="dj-number" id="dj-number" required
        placeholder="123-456-7890">
      <button type="button" id="add-dj-btn-cancel">Cancel</button>
      <button type="submit" id="add-dj-btn-submit" form="add-dj-modal-form">Submit</button>
    </form>
  </div>
</div>
<!-- <script src="/js/modal.js"></script> -->