<main>


    <section id="left">
        <div id="header">
          <div class="search-container">
            <button class="choose-btn">Choose:</button>
            <input type="text" placeholder="Search..." name="search">
          </div>
        </div>


        <div class="search-results-container">
          <h4 style="font-size: 1em; color: #27ae20;">Suggestions</h4>
          <div class="long-box">
            <div class="song">
              <img src="../images/ncs.jpg" alt="">
              <div class="song-text">
                <p>T & Sugah x Primate - Set Me Free</p>
              </div>
          </div>

          <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>

           <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>

           <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>

           <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>

           <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>

           <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>

           <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>

           <div class="song">
            <img src="../images/ncs.jpg" alt="">
            <div class="song-text">
              <p>T & Sugah x Primate - Set Me Free</p>
            </div>
           </div>



           <h4 style="font-size: 1em; color: #27ae20;">Songs:</h4>
            <div class="song">
              <div class="song-text">
                <p style="font-style: italic; color: #FF6666;">Enter a search query</p>
              </div>
            </div>

            <h4 style="font-size: 1em; color: #27ae20;">Playlists:</h4>
            <div class="song">
              <div class="song-text">
                <p style="font-style: italic; color: #FF6666;">Enter a search query</p>
              </div>
            </div>                  
          </div>
        </div>


        

       <div id= "producer-dj" class="report-section">
          <div class="search-container">
            <input type="text" placeholder="Your search result will be shown bellow" name="search_2">
          </div>

          <div class="search-results-container">
            <div class="long-box">
               
            

             <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>

            <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>

            <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>
            <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>

            <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>

            <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>
            <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>
            <div class="song-alt">
              <div class="image-container">
                  <img src="../images/ncs.jpg" alt=""> 
                  <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
              </div>
              <div class="song-text">
                  <p>T & Sugah- Set Me Free</p>
              </div>
              <div class="image-container">
                  <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
              </div>
            </div>

  
        
            </div>
          </div>


          <form id="djSelectionForm" onsubmit="return validateDJSelection()" method="post">
            <div class="search-container">
                <div class="assignment-label">
                    <label for="djSelection">Assign to:</label>
                </div>
        
                <div class="dropdown-container">
                    <select name="djSelection" id="djSelection">
                        <option value="">Select DJ</option>
                        <option value="djBlue">DJ Blue</option>
                        <option value="djGray">DJ Gray</option>
                    </select>
                </div>
        
                <div class="add-button-container">
                    <input type="submit" value="Add DJ">
                </div>
            </div>
        
            <div class="search-container" style="margin-top: 20px;">
                <div class="assignment-label">
                    <label for="timeInput">Add Time:</label>
                </div>
        
                <div class="add-button-container">
                    <input type="text" id="timeInput" name="timeInput" placeholder="HH:MM"/>
                </div>
        
                <div class="add-button-container">
                    <button type="button" onclick="addTime()">Add Time</button>
                </div>
            </div>
        </form>
        
        <script>
            function validateDJSelection() {
                var djSelectionElement = document.getElementById("djSelection");
                var djSelectionValue = djSelectionElement.value;
        
                if (djSelectionValue === "") {
                    alert("Please select a DJ.");
                    djSelectionElement.focus();
                    return false; // Prevent form submission
                }else{
        
                alert("DJ Selected: " + djSelectionElement.options[djSelectionElement.selectedIndex].text);
                return true; // Allow form submission
                }
            }
        
            function addTime() {
                var timeInput = document.getElementById("timeInput").value;
                var timeFormatRegex = /^\d{1,2}:\d{2}$/;
                if (timeInput === ""){
                  alert("Please input a time");
                } else if (!timeFormatRegex.test(timeInput)) {
                  alert("Invalid format. Please use HH:MM format.");                  
                }else{
                alert("Time Added: " + timeInput);
              }
            }

                    
            let DJ_gary = {
                name: "Gray Boots",
                showName: "gray ocean",
                yearsExperience: 10,
                color: "##808080" //gray in hex
            };

            let DJ_blue = {
                name: "Blue Shoes",
                showName: "blue sky",
                yearsExperience: 10,
                color: "#008000" //blue in hex
            };
 
        </script>
        
        
          </div>
        </div>
      </section>






      <section id="right">
        <div class="top-menu">
          <div class="date-menu">
            <i id="prev-day-btn" class="fa-solid fa-caret-left" style="padding-left: 0.5em"></i>
            
            <h2 id="date-range">Feb 10 - Feb 12</h2>
            <i id="next-day-btn" class="fa-solid fa-caret-right" style="padding-right: 0.5em"></i>
          </div>
        </div>
        <div id="time-table">
          <table>
            <tr>
              <th id="current-day">Today</th>
            <th id="next-day">Feb 11</th>
            <th id="next-next-day">Feb 12</th>
            </tr>
            <tr class="table-cell">
              <td id="table-focus">
                <div class="time-zone">
                  <div>
                    <h3>12am</h3>
                  </div>

                  <div id="dj-car-outside">
                    <article id="card-1-1" class="dj-card">
                      <div class="dj-card-song-list">

                        <div class="song-alt">
                          <div class="image-container">
                              <img src="../images/ncs.jpg" alt=""> 
                              <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
                          </div>
                          <div class="song-text">
                              <p>T & Sugah- Set Me Free</p>
                          </div>
                          <div class="image-container">
                              <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
                          </div>
                        </div>

                        <div class="song-alt">
                          <div class="image-container">
                              <img src="../images/ncs.jpg" alt=""> 
                              <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
                          </div>
                          <div class="song-text">
                              <p>T & Sugah- Set Me Free</p>
                          </div>
                          <div class="image-container">
                              <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
                          </div>
                        </div>

                        <div class="song-alt">
                          <div class="image-container">
                              <img src="../images/ncs.jpg" alt=""> 
                              <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
                          </div>
                          <div class="song-text">
                              <p>T & Sugah- Set Me Free</p>
                          </div>
                          <div class="image-container">
                              <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
                          </div>
                        </div>

                        <div class="song-alt">
                          <div class="image-container">
                              <img src="../images/ncs.jpg" alt=""> 
                              <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
                          </div>
                          <div class="song-text">
                              <p>T & Sugah- Set Me Free</p>
                          </div>
                          <div class="image-container">
                              <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
                          </div>
                        </div>

                        <div class="song-alt">
                          <div class="image-container">
                              <img src="../images/ncs.jpg" alt=""> 
                              <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
                          </div>
                          <div class="song-text">
                              <p>T & Sugah- Set Me Free</p>
                          </div>
                          <div class="image-container">
                              <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
                          </div>
                        </div>

                        <div class="song-alt">
                          <div class="image-container">
                              <img src="../images/ncs.jpg" alt=""> 
                              <img src="../images/hamburger_menu.png" alt="" class="right-of-first-image"> 
                          </div>
                          <div class="song-text">
                              <p>T & Sugah- Set Me Free</p>
                          </div>
                          <div class="image-container">
                              <img src="../images/delete_button.png" alt="" class="right-of-text" onclick="removeSong(this)">  
                          </div>
                        </div>
                      </div>                      
                      <div class="dj-info">
                        <h4>DJ Gary</h4>
                        <img src="../images/profile.png" alt="">
                      </div>
                    </article>
                    <script>
                      function removeSong(element) {
                        if (confirm("Remove this song?")) {
                          element.closest('.song-alt').remove();
                        }
                      }
                    </script>
                  </div>

                  <div>
                    <h3>8am</h3>
                  </div>
                  <div>
                    
                  </div>
                  <div>
                    <h3>4pm</h3>
                  </div>
                  <div>
                    <!-- dj card -->
                  </div>
                  <div>
                    <h3>12am</h3>
                  </div>
                </div>
              </td>
              <td id="table-secondary" class="table-secondary">
                <div class="time-zone">
                  <div>
                    <h3>12am</h3>
                  </div>
                  <div>
                    <div class="dj-card">
                      <div class="dj-card-song-list">
                        
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free sdfasdfasdfasdfas a asdf asdf asdf </p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div> 
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div> 
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>  
                      </div>
                      <div class="dj-info">
                        <h4>DJ Gary</h4>
                        <img src="../images/profile.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>8am</h3>
                  </div>
                  <div>
                    <!-- dj card -->
                    <div class="dj-card">
                      <div class="dj-card-song-list">
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free sdfasdfasdfasdfas a asdf asdf asdf </p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div> 
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div> 
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>  
                      </div>
                      <div class="dj-info">
                        <h4>DJ Blue</h4>
                        <img src="../images/profile.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>4pm</h3>
                  </div>
                  <div>
                    <div class="dj-card">
                      <div class="dj-card-song-list">
                        </div>
                        <div class="dj-info">
                          <h4>DJ Gary</h4>
                          <img src="../images/profile.png" alt="">
                        </div>
                      </div>
                    </div>
                  <div>
                    <h3>12am</h3>
                  </div>
                </div>
              </td>
              <td class="table-secondary">
                <div class="time-zone">
                  <div>
                    <h3>12am</h3>
                  </div>
                  <div>
                    <div class="dj-card">
                      <div class="dj-card-song-list">
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free sdfasdfasdfasdfas a asdf asdf asdf </p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div> 
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div> 
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>
                        <div class="song-alt">
                          <img src="../images/ncs.jpg" alt="">
                          <div class="song-text">
                            <p>T & Sugah x Primate - Set Me Free</p>
                          </div>
                        </div>  
                      </div>
                      <div class="dj-info">
                        <h4>DJ Gary</h4>
                        <img src="../images/profile.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3>8am</h3>
                  </div>
                  <div>
                    <!-- dj card -->
                  </div>
                  <div>
                    <h3>4pm</h3>
                  </div>
                  <div>
                    <div class="dj-card">
                      <div class="dj-card-song-list">
                        </div>
                        <div class="dj-info">
                          <h4>DJ Blue</h4>
                          <img src="../images/profile.png" alt="">
                        </div>
                      </div>
                    </div>
                  <div>
                    <h3>12am</h3>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </section>

</main>
